.sidebar__user-container {
  display: flex;
  align-items: center;
  gap: 16px;
}

.sidebar__avatar {
  width: 56px;
  height: 56px;
}

.sidebar__user-name {
  margin: 0;
  font-size: 20px;
}

@media screen and (max-width: 675px) {
  .sidebar__user-container {
    margin-top: 20px;
  }
}

@media screen and (max-width: 480px) {
  .sidebar__user-container {
    flex-direction: column;
  }

  .sidebar__user-name {
    font-size: 16px;
  }
}
