.itemCard__text {
  font-size: 20px;
  margin-bottom: 34px;
}

.itemCard__list {
  display: flex;
  list-style-type: none;
  padding: 0;
  gap: 18px;
  flex-wrap: wrap;
  justify-content: center;
}

.itemCard__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 325px;
  height: 328px;
  background-color: rgba(233, 233, 233, 1);
  border-radius: 20px;
  overflow: hidden;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 20px;
}

.itemCard__title-and-like-button {
  position: absolute;
  margin-top: 15px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}

.itemCard__title {
  background-color: rgba(255, 255, 255, 1);
  /* position: absolute; */
  padding: 4px 12px;
  border-radius: 10%;
  /*margin-top: 15px;*/
  font-family: "Cabinet Grotesk Medium";
  color: rgba(0, 0, 0, 0.6);
}

.itemCard__like-button {
  background: url(../../images/WtwrLikeButton.svg) no-repeat;
  background-size: cover;
  border: none;
  height: 15px;
  width: 18px;
}

.itemCard__like-button-liked {
  background: url(../../images/WtwrLikeButtonSelected.svg);
  background-size: cover;
  border: none;
  height: 15px;
  width: 18px;
}

.itemCard__card-image {
  width: 325px;
  height: 328px;
  object-fit: cover;
}

@media screen and (max-width: 480px) {
  .itemCard__card {
    width: 164px;
    height: 164px;
  }

  .itemCard__card-image {
    width: 164px;
    height: 164px;
  }

  .itemCard__list {
    gap: 10px;
  }
}

@media screen and (max-width: 1010px) {
  .itemCard__card {
    width: 250px;
    height: 250px;
  }

  .itemCard__card-image {
    width: 250px;
    height: 250px;
  }
}

@media screen and (max-width: 400px) {
  .itemCard__card {
    width: 250px;
    height: 250px;
  }

  .itemCard__card-image {
    width: 250px;
    height: 250px;
  }
}
