@font-face {
  font-family: "Cabinet Grotesk Medium";
  src: url(../../vendor/CabinetGrotesk-Medium.otf);
}

@font-face {
  font-family: "Cabinet Grotesk Bold";
  src: url(../../vendor/CabinetGrotesk-Bold.otf);
}

.page {
  background-color: rgba(243, 243, 243, 1);
  width: 100vw;
  height: 100vh;
}

.page__content {
  background-color: rgba(243, 243, 243, 1);
  max-width: 1360px;
  margin: 0 auto;
  padding: 0 40px 100px;
  font-family: "Cabinet Grotesk Bold";
}

@media screen and (max-width: 480px) {
  .page__content {
    padding: 18px 16px;
  }
}
