.itemModal {
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 500;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.itemModal__container {
  background-color: rgba(255, 255, 255, 1);
  width: 498px;
  height: 610px;
  border-radius: 16px;
  overflow: hidden;
  position: absolute;
}

.itemModal__close-button {
  background: transparent url(../../images/ItemCloseButton.svg) center no-repeat;
  border: none;
  margin: 20px 28px 0 0;
  width: 20px;
  height: 20px;
  position: absolute;
  left: 454px;
}

.itemModal__image {
  object-fit: cover;
  width: 498px;
  height: 498px;
}

.itemModal__details {
  font-size: 20px;
  margin-top: 20px;
  margin-left: 32px;
  margin-bottom: 32px;
}

.itemModal__deleteButton {
  position: absolute;
  right: 0;
  margin-right: 32px;
  background: transparent;
  border: none;
  font-size: 20px;
  font-family: "Cabinet Grotesk Medium";
  color: rgba(255, 77, 0, 1);
}

.itemModal__deleteButton_hidden {
  visibility: hidden;
  opacity: 0;
  display: none;
}

.itemModal__title {
  margin: 0;
}

.itemModal__weather {
  margin: 0;
  margin-top: 12px;
}

.itemModal__container-v-2 {
  background-color: rgba(255, 255, 255, 1);
  width: 670px;
  height: 368px;
  border-radius: 16px;
  overflow: hidden;
}

.itemModal__close-button-v-2 {
  background: transparent url(../../images/CloseIcon.svg) center no-repeat;
  border: none;
  margin: 20px 20px 0 0;
  width: 20px;
  height: 20px;
  position: fixed;
  right: 385px;
}

.itemModal__contents-v-2 {
  display: flex;
}

.itemModal__title-v-2 {
  background-color: rgba(255, 255, 255, 1);
  position: absolute;
  padding: 4px 12px;
  border-radius: 10%;
  margin-top: 37px;
  font-family: "Cabinet Grotesk Medium";
  color: rgba(0, 0, 0, 0.6);
}

.itemModal__image-and-title-v-2 {
  display: flex;
  justify-content: center;
}

.itemModal__image-v-2 {
  width: 325px;
  height: 328px;
  object-fit: contain;
  border-radius: 16px;
  margin: 21px;
}

.itemModal__deleteButton-v-2 {
  background: transparent;
  border: none;
  font-size: 20px;
  font-family: "Cabinet Grotesk Medium";
  color: rgba(255, 77, 0, 1);
  align-self: flex-end;
  position: relative;
  right: 100px;
  margin-bottom: 24px;
}

.itemModal__weather-v-2 {
  margin-top: 33px;
  margin-left: 7px;
}

@media screen and (max-width: 480px) {
  .itemModal__container {
    width: 343px;
    height: 465px;
  }

  .itemModal__image {
    width: 343px;
    height: 343px;
    object-fit: cover;
  }

  .itemModal__details {
    margin-left: 20px;
  }

  .itemModal__close-button {
    background: transparent url(../../images/MobileCloseButton.svg) center
      no-repeat;
    width: 21px;
    height: 21px;
    left: 309px;
    margin-top: 12px;
  }
}
