@font-face {
  font-family: "Cabinet Grotesk Medium";
  src: url(../../utils/CabinetGrotesk-Medium.otf);
}

@font-face {
  font-family: "Cabinet Grotesk Bold";
  src: url(../../utils/CabinetGrotesk-Bold.otf);
}

.page {
  background-color: rgba(243, 243, 243, 1);
  height: 100vh;
  width: 100vw;
}

.page__content {
  max-width: 1360px;
  margin: 0 auto;
  padding: 0 30px;
  font-family: "Cabinet Grotesk Bold";
}
